<%- include('partials/header') -%>

<h1 class="text-4xl">Bienvenidos a Moneda AUNAR</h1>

<% if (locals.isAuthenticated) { %>
    <p>Se encuentra conectado <a href="/profile" class="underline">Ver Perfil</a>.</p>
<% } else { %>
    <p>No se encuentra conectado. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
